<template>
  <div id="app">
    <div class="select-example">
      <u-select
        :options="selectData"
        :optionValue="'value'"
        :dropdownClass="['someclass']"
        :itemClass="['someclass']"
        :linkClass="['select-example-input']"
        :selectedItem="0"
        v-on:selected="selectedValue = $event.key"
      ></u-select>
    </div>
    {{selectedValue}}
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      selectData: [
        {key: 1, value: 'Option 1'},
        {key: 2, value: 'Option 2'},
        {key: 3, value: 'Option 3'},
        {key: 4, value: 'Option 4'},
        {key: 5, value: 'Option 5'},
        {key: 6, value: 'Option 6'}
      ],
      selectedValue: ''
    }
  },
  components: {
  }
}
</script>

<style lang="scss">
body{
  padding: 20px;
  margin: 0;
}
.select-example{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}
.select-example-input{
  padding: 10px;
  border: 1px solid #f6f6f6;
}
</style>
