<template>
  <div
    :class="['u-select', {'u-select--opened': show}]"
    v-on-click-outside="closeOptions"
    ref="select-input"
  >
    <a href="#"
      :class="['u-select__link', linkClass]"
      :disabled="disabled"
      v-on:click.prevent="toggle($event)"
      v-on:keyup.esc="show = false"
    >
      {{selectedOption || 'Выбрать'}}
    </a>
    <transition name="drop">
      <div :class="['u-select__options u-select-options', dropdownClass]" v-show="show" ref="select-menu">
        <div v-for="(option, index) in options" :key="`option-${index}`">
          <slot name="u-select-options__option" v-on:click.prevent="show = false">
            <a href="#"
              v-on:click.prevent="selectOption(option, index, true)"
              class="u-select-options__link"
              :class="[{'u-select-options__link--active' : index === activeItem}, itemClass]"
            >{{option[optionValue] || option}}</a>
          </slot>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { directive as onClickOutside } from 'vue-on-click-outside'
import Popper from 'popper.js'

export default {
  name: 'u-select',
  data () {
    return {
      show: false,
      selectedOption: '',
      activeItem: null,
      popper: {}
    }
  },
  directives: {
    onClickOutside
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    optionValue: {
      type: String,
      default: ''
    },
    options: {
      type: Array,
      default: () => []
    },
    linkClass: {
      type: Array,
      default: () => []
    },
    dropdownClass: {
      type: Array,
      default: () => []
    },
    itemClass: {
      type: Array,
      default: () => []
    },
    popperOptions: {
      type: Object,
      default: () => {}
    },
    defaultPopperOptions: {
      type: Object,
      default () {
        return {
          placement: 'bottom-start',
          positionFixed: true,
          removeOnDestroy: true
        }
      }
    },
    selectedItem: null,
    useCurrentStyles: false
  },
  watch: {
    options: {
      handler: function (oldVal, val) {
        if (JSON.stringify(oldVal) !== JSON.stringify(val)) {
          this.initSelect()
        }
      },
      deep: true
    },
    selectedItem (val, oldVal) {
      if (val !== oldVal) {
        this.initSelect()
      }
    }
  },
  beforeMount () {
    if (this.options.length) {
      this.initSelect()
    }
  },
  mounted () {
    this.initPopper()
  },
  beforeDestroy () {
    this.destroyPopper()
  },
  methods: {
    initSelect () {
      this.selectedOption = this.options
        ? (this.selectedItem !== undefined && this.selectedItem !== null)
          ? this.optionValue
            ? this.selectedOption = this.options[this.selectedItem][this.optionValue]
            : this.selectedOption = this.options[this.selectedItem]
          : ''
        : ''
      if (this.selectedItem !== null) {
        let index = this.selectedItem

        this.selectOption(this.options[this.selectedItem], index)
      }
    },
    initPopper () {
      let referenceElement = this.$refs['select-input']
      let onPopper = this.$refs['select-menu']
      let options = Object.assign({}, this.defaultPopperOptions, this.popperOptions)

      this.popper = new Popper(referenceElement, onPopper, options)
    },
    destroyPopper () {
      this.popper.destroy()
    },
    toggle (e) {
      this.show = !this.show
    },
    closeOptions () {
      this.show = false
    },
    selectOption (option, index, emit) {
      this.activeItem = index
      if (option) {
        this.selectedOption = this.optionValue ? option[this.optionValue] : option
        this.show = false
        if (emit) {
          this.$emit('selected', option)
        }
      }
    },
    clearSelected () {
      this.initSelect()
    }
  }
}
</script>

<style lang="scss">
@import "style";
</style>
