.u-select{
  $arrow-size: 8px;

  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  z-index: 1;
  position: relative;
  &--opened{
    .u-select__link{
      &:after{
        transform: rotate(-180deg);
      }
    }
  }
  &:hover{
    &:after{
      opacity: 0.8;
    }
  }
  &__link{
    text-decoration: none;
    color: inherit;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover{
      text-decoration: none;
      color: inherit;
    }
    &:after{
      content: '';
      width: $arrow-size;
      height: $arrow-size;
      display: inline-block;
      margin-left: $arrow-size;
      background-image: url(./down-arrow.svg);
      background-repeat: no-repeat;
      transition: transform 0.3s;
      opacity: 0.6;
    }
  }
  &__options{
    box-shadow: 0 2px 20px rgba(#000, 0.15);
    border: none;
    margin-top: 0;
    border-radius: 0.2rem;
  }
}

.u-select-options{
  $select-color: #1a83bd;

  font-size: 1rem;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  left: 0;
  z-index: 9;
  background-color: #fff;
  padding: 0.4rem 0;
  &__link{
    text-decoration: none;
    color: inherit;
    padding: 0.4rem 1rem;
    display: block;
    &:hover{
      background-color: rgba($select-color, 0.04);
      text-decoration: none;
      color: inherit;
    }
    &--active{
      &, &:hover{
        background-color: rgba($select-color, 0.08);
      }
    }
  }
}

.drop-enter-active, .drop-leave-active {
  transition-property: all;
  transition-duration: .2s;
}

.drop-enter, .drop-leave-active {
  margin-top: -10px;
  opacity: 0;
}